main {
    flex: 1;
    padding-top: 5.5rem;
    box-sizing: border-box;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 7rem; /* 与导航栏高度一致 */
}


img {
    max-width: 100%;
    height: auto;
    display: block;
}

.toc {
    position: fixed;
    top: 53.5%;
    left: 0;
    max-height: 75%;
    overflow-y: auto;
    transform: translateY(-50%);
    width: 15.625rem;
    padding: 0.625rem;
    border-radius: 0.3125rem;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.content-wrapper {
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    margin-left: 17.5rem;
    margin-right: 0.3125rem;
}

.content-wrapper h1 {
    text-align: center
}

textarea {
    height: 100%;
    width:99.5%;
    resize: none;
    position: relative;
}

span#charCountMessage {
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: grey;
    font-size: 0.8rem;
    pointer-events: none;
}

.toc ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.toc ul ul {
    margin-left: 1.25rem;
}

.toc a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 0.3125rem 0;
}

.toc a:hover {
    background-color: red;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1.25rem;
}

th {
    background-color: rgba(0, 0, 0, 0.55);
    color: pink;
    padding: 0.5rem;
    text-align: left;
    font-weight: bold;
    border-bottom: 0.125rem solid white;
    border-right: 0.0625rem solid white;
}

td {
    background-color: rgba(0, 0, 0, 0.55);
    color: pink;
    padding: 0.5rem;
    border-bottom: 0.0625rem solid white;
    border-right: 0.0625rem solid white;
}

tr:hover {
    background-color: red;
}

th:last-child,
td:last-child {
    border-right: none;
}

pre {
    padding: 0.625rem;
    border-radius: 0.3125rem;
    background-color: rgba(255, 255, 255);
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0);
    overflow-x: auto;
}