
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/static/css/notes.css">
    <script src="/static/js/Background_img.js"></script>
</head>
<body>
<header id="navbar" class="navbar">
</header>
<main>
    <div class="content-title">
        <h2>Python</h2>
    </div>
    <div class="link-group">
        <a href="/db/notes/python/python基础.md">Python基础</a>

        <a href="/db/notes/python/Python面向函数">Python面向函数</a>
        <a href="/db/notes/python/Python面向对象">Python面向对象</a>
    </div>
    <br>
    <div class="link-group">

    </div>
    <br>
    <br>
    <div class="content-title">
        <h2>Linux</h2>
    </div>
    <div class="link-group">
        <a href="/db/notes/linux/01.Linux基础.md">linux基础</a>

    </div>
    <br>
    <div class="link-group">

    </div>
    <br>
    
</main>
</body>
</html>